<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenliang.demo.dishes.mapper.MenuMapper">
    <insert id="addMenu" useGeneratedKeys="true" keyProperty="menu.id" parameterType="com.wenliang.demo.entity.dishes.Menu" >
        insert into
        menu(id,name,categoryId,description,createtime,updatetime,images,step,userId,note)
        values
        (null,#{menu.name},#{menu.categoryId},#{menu.description},
        #{menu.createtime},#{menu.updatetime},#{menu.images},#{menu.step},#{menu.userId},#{menu.note})
    </insert>

    <update id="updateMenu" parameterType="com.wenliang.demo.entity.dishes.Menu">
        update menu set name = #{menu.name},categoryId = #{menu.categoryId},
        description = #{menu.description},createtime = #{menu.createtime},
        updatetime = #{menu.updatetime},images = #{menu.images},step = #{menu.step},
        userId = #{menu.userId},note = #{menu.note}
        where
        id = #{menu.id}
    </update>

    <delete id="deleteOne" parameterType="int">
        delete from menu where id = #{id}
    </delete>

    <select id="findById" parameterType="int" resultType="com.wenliang.demo.entity.dishes.Menu">
        select * from menu where id = #{id}
    </select>
    <select id="findMenus" resultType="com.wenliang.demo.entity.dishes.Menu">
          select * from menu
    </select>
    <select id="findPageMenus" resultType="com.wenliang.demo.entity.dishes.Menu">
          select * from menu
    </select>
</mapper>